{% load static %}
<html>
    {% load leaflet_tags %}
<head>
    {% leaflet_js %}
    {% leaflet_css %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-ajax/2.1.0/leaflet.ajax.min.js" integrity="sha512-Abr21JO2YqcJ03XGZRPuZSWKBhJpUAR6+2wH5zBeO4wAw4oksr8PRdF+BKIRsxvCdq+Mv4670rZ+dLnIyabbGw==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/4.1.0/spin.min.js" integrity="sha512-CbohqWjAgarTqRHcX1MbwkF2pujwbsCee1PABpnBWC+VqSldvlNEEI5+4OSsR/HbFQOFFpwY2YvZZNjBMxNnXg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.Spin/1.1.2/leaflet.spin.min.js" integrity="sha512-0XwHwDvBg9jLZlGiwMYZkDM88lmMWazxvreRDE9liyaBZXmKRV5rB50hsyatczCVjCumGl0gpet2EEoHvBLmcA==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster.js" integrity="sha512-MQlyPV+ol2lp4KodaU/Xmrn+txc1TP15pOBF/2Sfre7MRsA/pB4Vy58bEqe9u7a7DczMLtU5wT8n7OblJepKbg==" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
    <style>
        .leaflet-container {  /* all maps */
            width:  62%;
            height: 100%;
            float: right;
        }
        /* Resize the "display_raw" textbox */
        .django-leaflet-raw-textarea {
            width: 100%;
        }
        .global_confirmed {
            width: 35%;
            padding: 5px;
            margin-left: 10px;

            display: inline-block;
            border: 3px solid gray;
        }
        .supplemental_data {
            width: 35%;
            padding: 5px;
            margin-left: 10px;
            display: inline-table;
            border: 3px solid gray;
            float: left;
        }
    </style>
</head>
<body>
<script>



    function map_init_basic (map, options) {
        var div_supplemental_data = $('#div_supplemental_data'); // context saving purpose
        var dataurl = 'api/v1/countries.geojson';
        var requested_geometry;
        var supplemental_data;

        var geojsonLayer = new L.GeoJSON.AJAX(dataurl, {
            pointToLayer: function(feature, layer) {
                var Icon = new L.Icon({
                    iconSize: [5 + 20*feature.properties.current_total.total*10/{{ confirmed_total }},
                                5 + 20*feature.properties.current_total.total*10/{{ confirmed_total }}
                                ], // please do some better normalization, this one's shit
                    iconAnchor: [0,0],
                    popupAnchor: [5,5],
                    iconUrl: 'https://upload.wikimedia.org/wikipedia/commons/thumb/d/d6/LACMTA_Circle_Blue_Line.svg/600px-LACMTA_Circle_Blue_Line.svg.png'
                });
                feature.geometry.coordinates.reverse();
                return L.marker(feature.geometry.coordinates, {icon:Icon});
            },
            onEachFeature: function (feature, layer) {
                layer.bindPopup(feature.id.toString());
                layer.on('click', function (e) {

                    div_supplemental_data.html("<h1>Supplemental Data</h1>"); // clear old data
                    if (requested_geometry != null) requested_geometry.removeFrom(map); // clear old geometry

                    var country = feature.id.toString();
                    window.open('http://127.0.0.1:8000/plot/'+country, '_blank', 'toolbar=0,location=0,menubar=0');
                    supplemental_data = jQuery.getJSON(url='api/'+country, function success(data) {
                        var test = JSON.stringify(data);
                        div_supplemental_data.append(
                            $('<pre>').text(
                                JSON.stringify(data, null, '   ')
                            )
                        );
                        console.log(5 + 15*feature.properties.current_total.total*100/{{ confirmed_total }});
                    });
                    requested_geometry = new L.GeoJSON.AJAX('api/v1/geometry/'+country+'/', );
                    requested_geometry.addTo(map);
                });
            },
        });
        geojsonLayer.addTo(map);
        var Stadia_AlidadeSmoothDark = L.tileLayer('https://tiles.stadiamaps.com/tiles/alidade_smooth_dark/{z}/{x}/{y}{r}.png', {
            maxZoom: 20,
            attribution: '&copy; <a href="https://stadiamaps.com/">Stadia Maps</a>, &copy; <a href="https://openmaptiles.org/">OpenMapTiles</a> &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors'
        }).addTo(map);
    }
</script>
<div class="map">
    {% leaflet_map "corona_map" callback="window.map_init_basic" %}

</div>
<div class="global_confirmed">
    <h1>
        Global Confirmed:<br>
        {{ confirmed_total }}
    </h1>
</div>
<div class="supplemental_data" id="div_supplemental_data">
    <h1>Supplemental Data</h1>
</div>

</body>
</html>
