{% load leaflet_tags %}
<html>
  <head>
    {% leaflet_js %}
    {% leaflet_css %}
    <style>
    .leaflet-container {  /* all maps */
        width:  90%;
        height: 90%;
        position: center
    }
    /* Resize the "display_raw" textbox */
    .django-leaflet-raw-textarea {
        width: 100%;
    }
    </style>
    <script>
      var dataurl = '{% url "data" %}';

      window.addEventListener("map:init", function (event) {
        var map = event.detail.map;
        // this part opens a popup showing the lat_long wherever rightclicked
        map.on('contextmenu', function(e) {
        var popLocation= e.latlng;
        var popup = L.popup()
        .setLatLng(popLocation)
        .setContent('<p>Hello world!<br />'+popLocation+'</p>')
        .openOn(map);
    });
        // Download GeoJSON data with Ajax
        fetch(dataurl)
          .then(function(resp) {
            return resp.json();
          })
          .then(function(data) {
            L.geoJson(data, {
              onEachFeature: function onEachFeature(feature, layer) {
                var props = feature.properties;
                var content = `<img width="300" src="${props.location}"/><h3>${props.name}</h3><p>${props.population}</p>`;
                layer.bindPopup(content);
            }}).addTo(map);
          });
      });
    </script>
  </head>
  <body>
    <h1>Corona Symptoms</h1>
    {% leaflet_map "main" %}
  </body>
</html>